html, body {
	margin: 0px;
	padding: 0px;
}

table {
	border-collapse: collapse;
}

table > thead > tr > th, table > tbody > tr > td, table > tfoot > tr > td {
	border: 1px solid #000000;
}

input[type="text"], input[type="password"] {
	width: 400px;
}